@media(min-width:1400px){
  #grid {
    display: grid;
    grid-template-columns: 300px 2fr;
  }

  #about {
    border: solid 2px black;
    border-style: none;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    background-color: rgb(253, 227, 251);
  }

  .contact {
    list-style: none;
    padding-left: 12px;
    font-size: 12px;
    margin: 30px;
  }

  #site {
    border: 3px rgb(253, 227, 251);
    border-style: hidden hidden solid;
    padding: 20px;
    width:1270px;

  }

  #name {
    display: block;
    padding: 5px;
    font-weight: bold;
  }

  #hope {
    display: block;
    border: 3px white;
    border-style: hidden hidden dashed;
    padding: 5px;
    margin: 10px;
    margin-left: 20px;
    width: 250px;
    font-weight: bold;
  }

  img:first-child {
    padding: 10px;
    margin: 10px;
  }

  #info {
    margin-left: 95px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 120px;
  }

  h1 {
    border: solid 5px rgb(253, 227, 251);
    border-radius: 15px;
    padding: 2px;
    text-align: center;
    font-size: 19px;
    margin-top: 30px;
    width:1300px;
  }

  a {
    text-decoration: none;
    color: black;
  }
  #site a:hover, a:focus{
    background-color: rgb(253, 227, 251);
  }

  p {
    padding: 45px;
  }

  .site-datails {
    padding: 10px;
    width: 500px;
  }

  .icon {
    float: left;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  #saw:checked~.submenu {
    display: block;
  }

  .submenu {
    display: none;
    background: #ccc;
    background-color: rgb(253, 227, 251);
    font-size: 15px;
  }

  input {
    position: fixed;
    left: -9999px;
  }

  #bottom {
    border: 90px rgb(242, 242, 242);
    background-color: rgb(242, 242, 242);
    margin-left: 0;
  }
  #all{
    display: grid;
    grid-template-rows: 14fr 1fr;
  }
}

#grid {
  display: grid;
  grid-template-columns: 300px 2fr;
}

#about {
  border: solid 2px black;
  border-style: none;
  text-align: center;
  padding: 5px;
  padding-bottom: 10px;
  background-color: rgb(253, 227, 251);
}

.contact {
  list-style: none;
  padding-left: 12px;
  font-size: 12px;
  margin: 30px;
}

#site {
  border: 3px rgb(253, 227, 251);
  border-style: hidden hidden solid;
  padding: 20px;

}

#name {
  display: block;
  padding: 5px;
  font-weight: bold;
}

#hope {
  display: block;
  border: 3px white;
  border-style: hidden hidden dashed;
  padding: 5px;
  margin: 10px;
  margin-left: 20px;
  width: 250px;
  font-weight: bold;
}

img:first-child {
  padding: 10px;
  margin: 10px;
}

#info {
  margin-left: 95px;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 120px;
}

h1 {
  border: solid 5px rgb(253, 227, 251);
  border-radius: 15px;
  padding: 2px;
  text-align: center;
  font-size: 19px;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
}
#site a:hover, a:focus{
  background-color: rgb(253, 227, 251);
}

p {
  padding: 45px;
}

.site-datails {
  padding: 10px;
  width: 500px;
}

.icon {
  float: left;
  margin-top: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
}

#saw:checked~.submenu {
  display: block;
}

.submenu {
  display: none;
  background: #ccc;
  background-color: rgb(253, 227, 251);
  font-size: 15px;
}

input {
  position: fixed;
  left: -9999px;
}

#bottom {
  border: 90px rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
  margin-left: 0;
}
#all{
  display: grid;
  grid-template-rows: 14fr 1fr;
}
